html,body{
    margin: 0;
    padding: 0;

    --back: rgb(67, 67, 67);
    --text: white;
    --backback: rgb(46, 46, 46);
    --alt: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backback);
}

/* MENU */
.menu{
    position: relative;
    background-color: var(--back);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--alt);

    &._hidden{
        width: .5rem;
        >*:not(._hide_button){
            display: none;
        }
    }

    >._hide_button{
        position: absolute;
        background-color: var(--alt);
        color: var(--text);
        right: 0.2rem;
        top: 0.2rem;
        border-radius: 1rem;
        width: 1.2rem;
        height: 1.2rem;
        text-align: center;
        font-weight: bolder;
        &:hover{
            cursor: pointer;
            background-color: var(--text);
            color: var(--alt);
        }
    }
}

/* */

/* ORIENTATION */
.horizontal{
    display: flex;
    flex-direction: row;
    height: 90%;
    >*:not(:first-child){
        margin-left: .5rem;
    }
}
.vertical{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    >*:not(:first-child){
        margin-top: .5rem;
    }
}
/* */

/* DISPLAY */
.display{
    background: 
    linear-gradient(90deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.1) 50%,
        transparent 50%
    ),
    linear-gradient(0deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.1) 50%,
        transparent 50%
    );
    background-size: 5rem 5rem;
    border: 1px solid var(--alt);
}
/* */

/* COLOR DISPLAY */
.color_display{
    display: flex;
    align-self: center;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--alt);
}
/* */

/* LABEL */
label{
    color: var(--text);
    font-size: .8rem;
    align-self: self-start;
    margin-right: 3rem;
}
label+*{
    margin-top: -.8rem !important;
    width: 3rem;
    align-self: flex-end;
}
/* */

/* INPUTS */
input[type=color]{
    width: 100%;
    border: 2px solid var(--alt);
}
input[type=range]{
    height: 0.6rem;
}
.directionnal_input{
    align-self: center;
    position: relative;
    border: 1px solid var(--alt);
    border-radius: 1rem;
    height: 4rem;
    width: 4rem;
    >*{
        width: 35%;
        height: 35%;
    }
    >:nth-child(1){
        position: absolute;
        left: 32.5%;
    }
    >:nth-child(2){
        position: absolute;
        top: 32.5%;
        right: 0%;
    }
    >:nth-child(3){
        position: absolute;
        left: 32.5%;
        bottom: 0;
    }
    >:nth-child(4){
        position: absolute;
        left: 0;
        top: 32.5%;
    }
}
/* */

h3{
    margin: 0.1rem;
    color: white;
}

p{
    font-size: .8rem;
    color: white;
    max-width: 10rem;
}

span[title]{
    color: var(--text);
    font-weight: bolder;
    background-color: var(--alt);
    width: 1rem;
    height: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    cursor: help;

    &:hover{
        scale: 1.5;
        &::after{
            content: attr(title);
            position: absolute;
            background-color: var(--back);
            color: var(--text);
            border: 1px solid var(--alt);
            padding: 0.5rem;
            border-radius: 0.5rem;
            font-size: 0.8rem;
            top: 1rem;
            left: 1rem;
            z-index: 1;
        }
    }
}