html{
    --light: #e2d1ac;
    --gray: #bd9359;
    --dark: #724531;
    --black: #2c2c2c;
    --shadow: rgba(0, 0, 0, 0.2);
    --dark-bg: url('../img/background.png');
    font-family: 'Roboto', sans-serif;
}

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-image: url('../img/dark_wood.png');
    background-size: 20rem 20rem;
    &::after{
        content: '';
        background-image: url('../img/bricks.png');
        background-size: 4rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 4rem;
        height: 100%;
        z-index: 1;
        box-shadow: 0 0 0.5rem 0.2rem var(--black);
    }
    &::before{
        content: '';
        background-image: url('../img/bricks.png');
        background-size: 4rem;
        position: fixed;
        top: 0;
        right: 0;
        width: 4rem;
        height: 100%;
        z-index: 1;
        box-shadow: 0 0 0.5rem 0.2rem var(--black);
    }
}

main{
    max-width: 80rem;
    width: 100%;
}

/* TITRE */
h2{
    color: var(--light);
}
/* */

/* LIST */
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0.2rem;
    margin: 0;

    background-image: var(--dark-bg);
    border: var(--dark) solid 0.3rem;
    background-size: 20rem 20rem;
    box-shadow: inset 0 0 0.5rem 0.3rem var(--black);

    >li{
        margin: 0.5rem
    }
    &.-overlap{
        justify-content: space-around;
        padding-left: 10rem;
        >*{
            margin-left: -10rem;
        }
    }
}
/* */


/* TABLE */
table{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    background-image: url("../img/sand.png");
    box-shadow: inset 0 0 0.5rem 0.2rem var(--black);
    background-size: contain;
    >tbody{
        padding: .1rem;
        >tr{
            >td{
                border: var(--black) dashed 0.3rem;
                background-color: var(--shadow);
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}
/* */


/* SEPARATOR */
hr{
    margin: 0;
    padding: 0;
    height: 1rem;
    border: none;
    background: none;
}
/* */

/* PLAYER */
.player{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-image: url("../img/wood.png");
    background-color: var(--team-color);
    background-blend-mode: multiply;
    background-size: 10rem;
    box-shadow: inset 0 0 0.5rem 0.2rem var(--black);

}


/* CARD */
.card-height{
    min-height: 17rem;
}
.card{
    contain: strict;
    border-radius: 1rem;
    padding: 0.4rem;
    width: 10rem;
    height: 15rem;
    position: relative;

    /*transition: scale 0.3s;*/
    z-index: 0;
    transition: scale 0.3s, z-index 0.3s;
    &:hover{
        scale: 1.5;
        z-index: 1;

    }

    >h3{
        font-variant-caps: all-small-caps;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    >.-icon{
        display: block;
        width: 6rem;
        height: 6rem;
        margin: 0 auto;
        image-rendering: pixelated;
    }

    >.-description{
        background-color: var(--light);
        width: 100%;
        height: 7.1rem;
        box-sizing: border-box;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        text-align: justify;

        margin-top: 0.5rem;
        padding: 0.3rem;
        font-size: 0.6rem;
        line-height: 0.65rem;
    }
    

    background-color: var(--gray);
    border: var(--light) solid 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem var(--shadow);
}
/* */

/* JAUGE */
.jauge{
    display: flex;
    height: 1.5rem;
    width: 10rem;
    background-color: var(--black);
    border: var(--dark) solid 0.3rem;
    background-size: 30rem;
    box-shadow: 0 0 0.2rem 0.1rem var(--black);
    >.-filler{
        color: var(--light);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        background-color: var(--jauge-color);
        background-image: url("../img/energy.png");
        background-size: 10rem 10rem;
        background-blend-mode: multiply;
        box-shadow: inset 0.1rem 0 0.4rem -0.1rem var(--black), inset -.2rem 0 0 -.1rem var(--light);
        height: 100%;
    }
}
/* */

/* TEXT */
p.text{
    margin: 0;
    margin-bottom: 0.2rem;
    padding-bottom: 0.2rem;
    padding: auto;
    &:not(:last-child){
        border-bottom: var(--dark) dashed 0.1rem;
    }
    >strong{
        font-size: 1.1em;
    }
    >.-number{
        font-style: italic;
        font-weight: bolder;
    }
}
/* */

/* STATUS */
.status{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    position: relative;
    >.-icon{
        width: 100%;
        height: 100%;
        object-fit: contain;
        image-rendering: pixelated;
    }
    >.-description{
        position: absolute;
        left: 100%;
        top: 100%;
        width: 10rem;
        padding: .5rem;
        color: var(--light);
        background: url("../img/wood.png");
        border: var(--light) solid 0.3rem;
        box-shadow: 0.2rem 0.2rem 0.2rem var(--shadow);
        display: none;
        z-index: 1;
    }
    &:hover{
        >.-description{
            display: block;
        }
    }
    >.-level{
        position: absolute;
        font-family: 'Times New Roman', Times, serif;
        text-shadow: 0 0.1rem 0 var(--light), 0.1rem 0 0 var(--light), 0 -0.1rem 0 var(--light), -0.1rem 0 0 var(--light);
        font-size: 1.5rem;
        font-weight: bolder;
        right: -.3em;
        top: -.5em;
    }
    >.-lifetime{
        border-radius: .5rem;
        width: 1rem;
        padding: 0rem;
        text-align: center;
        position: absolute;
        font-size: .9rem;
        font-weight: bolder;
        right: -.5em;
        bottom: -.5em;
        text-shadow: 0 0.1rem 0 var(--light), 0.1rem 0 0 var(--light), 0 -0.1rem 0 var(--light), -0.1rem 0 0 var(--light);
    }

}
/* */